Repository CodeSpace-Academy/ASE_2023_GROUP_A, pull requests merged in 2023-10, with the labels that each got.

#82 Ase a#12 otshepeng recipe description load error
  components/Cards/RecipeCard.jsx
  components/Description/Description.jsx
  components/error-messages/DescriptionError.jsx
Labels: Recipe Details, Error Messages, Recipe Description

#142 Ase#11 lulu mosobe update description
  components/Cards/RecipeCard.jsx
  components/Description/Description.jsx
  components/Description/DescriptionEdit.jsx
  components/Recipes/Recipe.js
  components/RecipesList/RecipeList.js
  components/error-messages/DescriptionError.jsx
  helpers/mongoDB-utils.js
  package-lock.json
  pages/[recipeName].jsx
  pages/api/description/[recipeId].js
  pages/api/recipes/index.js
  pages/index.jsx
Labels: Recipe Details, Updating Recipe, Recipe Description

#146 Ase a#29 otshepeng env error
  next.config.js
  pages/error/index.js
  pages/index.jsx
Labels: Environment variables
